<h1>Contact</h1>
<%= form_tag submission_path do %>
<div>
  <%= label_tag :user_name %>
  <%= text_field_tag :user_name %>
</div>
<div>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
</div>
<div>
  <%= label_tag :message %>
  <%= text_area_tag :message %>
</div>
<%= submit_tag "Contact Us!" %>
<% end %>
